In [6]:
import pandas as pd
from sqlalchemy import create_engine

# Conexión a PostgreSQL en Docker
engine = create_engine("postgresql://postgres:admin123@localhost:5432/dogdaycare")

engine.connect()

In [2]:
pip install sqlalchemy

Collecting sqlalchemy
  Obtaining dependency information for sqlalchemy from https://files.pythonhosted.org/packages/93/5f/e081490f8523adc0088f777e4ebad3cac21e498ec8a3d4067074e21447a1/sqlalchemy-2.0.46-cp311-cp311-win_amd64.whl.metadata
  Downloading sqlalchemy-2.0.46-cp311-cp311-win_amd64.whl.metadata (9.8 kB)
Collecting greenlet>=1 (from sqlalchemy)
  Obtaining dependency information for greenlet>=1 from https://files.pythonhosted.org/packages/1f/54/dcf9f737b96606f82f8dd05becfb8d238db0633dd7397d542a296fe9cad3/greenlet-3.3.1-cp311-cp311-win_amd64.whl.metadata
  Downloading greenlet-3.3.1-cp311-cp311-win_amd64.whl.metadata (3.8 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\info\documents\norrdata\proyectos\dogdaycare\venv\lib\site-packages (from sqlalchemy) (4.15.0)
Downloading sqlalchemy-2.0.46-cp311-cp311-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
    --------------------------------------- 0.0/2.1 MB 960.0 kB/s eta 0:00:03
   --------------- ------------------------ 0.8/2.1 MB 8.5 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 17.0 MB/s eta 0:00:00
Downloading greenlet-3.3.1-cp311-cp311-win_amd64.whl (226 kB)
   ---------------------------------------- 0.0/226.5 kB ? eta -:--:--
   ---------------------------------------- 226.5/226.5 kB ? eta 0:00:00
Installing collected packages: greenlet, sqlalchemy
Successfully installed greenlet-3.3.1 sqlalchemy-2.0.46
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 26.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
pip install psycopg2-binary

Collecting psycopg2-binary
  Obtaining dependency information for psycopg2-binary from https://files.pythonhosted.org/packages/6e/b4/a5375cda5b54cb95ee9b836930fea30ae5a8f14aa97da7821722323d979b/psycopg2_binary-2.9.11-cp311-cp311-win_amd64.whl.metadata
  Using cached psycopg2_binary-2.9.11-cp311-cp311-win_amd64.whl.metadata (5.1 kB)
Using cached psycopg2_binary-2.9.11-cp311-cp311-win_amd64.whl (2.7 MB)
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.11
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 26.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [7]:
def fix_date_format(df, column):
    df[column] = pd.to_datetime(df[column], errors="coerce").dt.strftime("%Y-%m-%d")
    return df

In [8]:
customers_clean = pd.read_csv("../data/clean/customers_clean.csv")
bookings_clean = pd.read_csv("../data/clean/bookings_clean.csv")
payments_clean = pd.read_csv("../data/clean/payments_clean.csv")

In [9]:
customers_clean = fix_date_format(customers_clean, "signup_date_clean")
customers_clean = fix_date_format(customers_clean, "primary_pet_dob")

In [10]:
bookings_clean = fix_date_format(bookings_clean, "booking_date_clean")

In [11]:
payments_clean = fix_date_format(payments_clean, "paid_at_clean")
payments_clean = fix_date_format(payments_clean, "refunded_at_clean")

In [12]:
customers_clean.to_csv("../data/clean/customers_clean.csv", index=False)
bookings_clean.to_csv("../data/clean/bookings_clean.csv", index=False)
payments_clean.to_csv("../data/clean/payments_clean.csv", index=False)

In [13]:
def fix_numeric(df, column):
    df[column] = pd.to_numeric(df[column], errors="coerce")
    return df

In [14]:
customers_clean = fix_numeric(customers_clean, "pets_count")

In [16]:
payments_clean = fix_numeric(payments_clean, "amount_gross_clean")
payments_clean = fix_numeric(payments_clean, "tax_amount_clean")
payments_clean = fix_numeric(payments_clean, "fee_amount_clean")
payments_clean = fix_numeric(payments_clean, "amount_net_clean")

In [17]:
customers_clean.to_csv("../data/clean/customers_clean.csv", index=False)
bookings_clean.to_csv("../data/clean/bookings_clean.csv", index=False)
payments_clean.to_csv("../data/clean/payments_clean.csv", index=False)

In [18]:
customers_clean["customer_id"].value_counts().head()

customer_id
1003    1
1030    1
2438    1
1204    1
1064    1
Name: count, dtype: int64

In [19]:
# IDs que existen en bookings pero NO en customers
missing_ids = set(bookings_clean["customer_id"]) - set(customers_clean["customer_id"])
missing_ids

{nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan}

In [20]:
bookings_clean = bookings_clean.dropna(subset=["customer_id"])

In [21]:
bookings_clean["customer_id"] = pd.to_numeric(bookings_clean["customer_id"], errors="coerce").astype("Int64")

In [22]:
missing_ids = set(bookings_clean["customer_id"]) - set(customers_clean["customer_id"])
missing_ids

set()

In [23]:
bookings_clean.to_csv("../data/clean/bookings_clean.csv", index=False)

In [24]:
customers_clean["full_name"] = (
    customers_clean["full_name"]
    .str.strip()
    .str.lower()
    .str.title()
)

In [25]:
country_map = {
    "se": "Sweden",
    "sweden": "Sweden",
    "es": "Spain",
    "españa": "Spain",
    "pt": "Portugal",
    "portugal": "Portugal",
    "uk": "United Kingdom",
    "gb": "United Kingdom",
    "cn": "China",
    "china": "China",
    "no": "Norway"  # si “no” era error, podés cambiarlo
}

customers_clean["country_clean"] = (
    customers_clean["country_clean"]
    .str.strip()
    .str.lower()
    .replace(country_map)
    .str.title()
)

In [26]:
customers_clean["primary_pet_breed"] = (
    customers_clean["primary_pet_breed"]
    .str.strip()
    .str.lower()
    .replace({"mix": "Mixed"})
    .str.title()
)

In [27]:
vaccination_map = {
    "uptodate": "Up To Date",
    "up_to_date": "Up To Date",
    "up to date": "Up To Date",
    "u p t o d a t e": "Up To Date"
}

customers_clean["vaccination_status"] = (
    customers_clean["vaccination_status"]
    .str.strip()
    .str.lower()
    .replace(vaccination_map)
    .str.title()
)

In [28]:
customers_clean.to_csv("../data/clean/customers_clean.csv", index=False)

In [29]:
import re

def clean_price(value):
    if pd.isna(value):
        return None
    
    value = str(value).strip().lower()
    
    # 1. Convertir palabras a números
    word_map = {
        "twentyfive": 25,
        "twenty five": 25,
        "thirtyfive": 35,
        "thirty five": 35,
        "sixty": 60,
        "sixtyfive": 65,
        "sixty five": 65
    }
    if value in word_map:
        return float(word_map[value])
    
    # 2. Eliminar moneda (sek, €, etc.)
    value = re.sub(r"[a-zA-Z€$]", "", value)
    
    # 3. Convertir a número
    try:
        return float(value)
    except:
        return None

In [30]:
bookings_clean["price"] = bookings_clean["price"].apply(clean_price)

In [31]:
def clean_discount(value):
    if pd.isna(value) or value == "":
        return 0.0
    
    value = str(value).strip().lower()
    
    # Si viene con %, convertir a decimal
    if "%" in value:
        value = value.replace("%", "")
        return float(value) / 100
    
    return float(value)

In [32]:
bookings_clean["discount"] = bookings_clean["discount"].apply(clean_discount)

In [37]:
DEFAULT_TAX = 0.25  # o el valor que corresponda

def clean_tax(value):
    if pd.isna(value) or value == "":
        return DEFAULT_TAX
    
    value = str(value).strip().lower()
    
    # Reemplazar coma por punto
    value = value.replace(",", ".")
    
    # Si viene con %, convertir a decimal
    if "%" in value:
        value = value.replace("%", "")
        return float(value) / 100
    
    return float(value)

In [38]:
bookings_clean["tax_rate"] = bookings_clean["tax_rate"].apply(clean_tax)

In [40]:
bookings_clean[["price", "discount", "tax_rate"]].head()

   price  discount  tax_rate
0   25.0       0.1      0.25
1    NaN       5.0      0.25
2   20.0       5.0      0.25
3   15.0       0.0      0.25
4   15.0       0.0      0.25

In [41]:
bookings_clean.to_csv("../data/clean/bookings_clean.csv", index=False)

In [42]:
bookings_clean[bookings_clean.apply(lambda row: row.astype(str).str.contains("unknown", case=False).any(), axis=1)]

,booking_id,customer_email,customer_id,dog_name,dog_breed,dog_weight,notes,booking_date_clean,start_time_clean,end_time_clean,...,service_std,service_code_clean,location_clean,channel_std,source_system_clean,dog_gender_std,temperament_clean,price,discount,tax_rate
3,5,fridakar823@gmail.com,1219,Max,Labrador,unknown,NaN,2024-01-20,NaN,18:00:00,...,nail_trim,NaN,NaN,NaN,excel,unknown,NaN,15.0,0.0,0.25
6,8,anagarci844@company.se,1015,Rocky,Dachshund,unknown,NaN,2024-02-27,09:00:00,17:00:00,...,vet_shuttle,vs,stockholm,partner,export_v1,NaN,calm,20.0,0.0,0.25
15,17,oscarber791@outlook.com,1206,NaN,Chihuahua,NaN,VIP,2024-03-19,16:00:00,00:00:00,...,daycare,dc,huddinge,partner,NaN,unknown,NaN,25.0,0.0,0.25
16,18,jonasnil950@outlook.com,1216,NaN,MIXED,12kg,first visit,2024-02-03,09:00:00,10:00:00,...,training,tr,sundbyberg,phone,sheets,unknown,calm,35.0,10.0,0.25
18,20,NaN,1193,Rocky,Chihuahua,unknown,NaN,2024-02-18,10:00:00,18:00:00,...,grooming,NaN,nacka,partner,form,unknown,aggressive,NaN,0.0,0.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1187,200,sofiaand221@company.se,1200,NaN,Dachshund,12kg,NaN,2024-04-21,13:00:00,14:00:00,...,grooming,gr,stockholm,partner,form,unknown,reactive,40.0,5.0,0.25
1188,702,NaN,1193,NaN,Dachshund,unknown,NaN,2024-02-04,16:00:00,17:00:00,...,training,tr,huddinge,NaN,excel,unknown,anxious,35.0,0.0,0.25
1191,947,liamande403@outlook.com,1192,Charlie,NaN,unknown,first visit,2024-04-01,13:00:00,21:00:00,...,grooming,gr,stockholm,instagram,export_v2,male,calm,NaN,5.0,0.25
1194,576,linchen450@email.com,1057,NaN,Poodle,NaN,first visit,2024-02-02,08:00:00,10:00:00,...,nail_trim,NaN,sundbyberg,walk_in,NaN,unknown,shy,15.0,10.0,0.25
1196,279,erikholm52@gmail.com,1132,NaN,Beagle,NaN,NaN,2024-01-31,09:00:00,17:00:00,...,nail_trim,nt,stockholm,instagram,export_v2,unknown,unknown,15.0,0.0,0.25

In [43]:
bookings_clean = bookings_clean.replace("unknown", None)
bookings_clean = bookings_clean.replace("Unknown", None)
bookings_clean = bookings_clean.replace("UNKNOWN", None)

In [44]:
numeric_cols = ["dog_weight", "price", "discount", "tax_rate"]

for col in numeric_cols:
    bookings_clean[col] = pd.to_numeric(bookings_clean[col], errors="coerce")

In [45]:
bookings_clean.to_csv("../data/clean/bookings_clean.csv", index=False)

In [46]:
bookings_clean.to_sql(
    "bookings",
    engine,
    if_exists="append",
    index=False
)

903

In [47]:
pd.read_sql("SELECT COUNT(*) FROM bookings", engine)

   count
0    903

In [48]:
def clean_discount(value):
    if pd.isna(value) or value == "":
        return 0.0
    
    value = str(value).strip().lower()
    
    # Reemplazar coma por punto
    value = value.replace(",", ".")
    
    # Si viene con %, convertir a decimal
    if "%" in value:
        value = value.replace("%", "")
        return float(value) / 100
    
    # Si es un número entero (5, 10, 15)
    if value.isdigit():
        return float(value) / 100
    
    # Si ya es decimal (0.1, 0.05)
    try:
        num = float(value)
        # Si es mayor que 1, es porcentaje mal escrito (ej: 5 → 5.0)
        if num > 1:
            return num / 100
        return num
    except:
        return 0.0

In [49]:
bookings_clean["discount"] = bookings_clean["discount"].apply(clean_discount)

In [50]:
bookings_clean.to_sql(
    "bookings",
    engine,
    if_exists="append",
    index=False
)

903

In [51]:
status_map = {
    "paid": "Paid",
    "payd": "Paid",
    "payed": "Paid"
}

payments_clean["status_clean"] = (
    payments_clean["status_clean"]
    .str.strip()
    .str.lower()
    .replace(status_map)
    .str.title()
)

In [53]:
payments_clean["payment_method_clean"] = (
    payments_clean["payment_method_clean"]
    .str.strip()
    .str.lower()
    .replace({
        "bank transfer": "Bank Transfer",
        "bank_transfer": "Bank Transfer"
    })
    .str.title()
)

In [54]:
payments_clean.to_csv("../data/clean/payments_clean.csv", index=False)

In [58]:
missing = payments_clean[
    ~payments_clean["booking_id"].isin(bookings_clean["booking_id"])
]

missing[["payment_id", "booking_id", "customer_email", "status_clean"]].head(20)

    payment_id  booking_id           customer_email status_clean
1       900002       310.0       user3786@gmail.com       Failed
4       900005       831.0   davidsto777@company.se         Paid
5       900006       406.0    jonasnil345@email.com         Paid
9       900010       661.0  mikaelås734@outlook.com       Failed
22      900024       641.0  oscarber650@outlook.com         Paid
23      900025       916.0    oskarber667@gmail.com       Failed
27      900029       496.0  ellaberg952@outlook.com          NaN
33      900035      2581.0  ahmedali255@outlook.com         Paid
38      900040       278.0       user5458@email.com         Paid
44      900047      1132.0       user3383@gmail.com     Refunded
54      900057       217.0    pedrosil754@gmail.com       Failed
67      900070        57.0       user9974@email.com     Refunded
70      900073       740.0                      NaN         Paid
72      900075       114.0       user2105@email.com         Paid
77      900080       615.0       norahans@email.com         Paid
78      900081       162.0       user9541@email.com         Paid
79      900082        41.0                      NaN      Pending
86      900089        94.0                      NaN       Failed
93      900096       708.0    fatimakh311@gmail.com       Failed
95      900098      1150.0    emmajoha610@email.com       Failed

In [56]:
payments_clean.columns.tolist()

['payment_id',
 'booking_id',
 'customer_email',
 'paid_at_clean',
 'refunded_at_clean',
 'is_refunded',
 'amount_gross_clean',
 'tax_amount_clean',
 'fee_amount_clean',
 'amount_net_clean',
 'currency_clean',
 'status_clean',
 'payment_method_clean',
 'gateway_clean',
 'card_brand_clean',
 'country_of_card_clean']

In [59]:
payments_clean = payments_clean[
    payments_clean["booking_id"].isin(bookings_clean["booking_id"])
]

In [60]:
payments_clean.to_sql("payments", engine, if_exists="append", index=False)

981